<div class="content">
  <mat-card>Books</mat-card>

  <button mat-raised-button color="primary" class="mt-20" (click)="redirectToAddBook()">Add Book</button>

  <mat-form-field fxLayout="row wrap" fxLayoutAlign="flex-end">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <!-- Language Column -->
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
          <td mat-cell *matCellDef="let row"> {{row.language}} </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-raised-button color="primary" class="push-right"
                  [routerLink]="['/viewBook/', element._id]"><i class="fas fa-eye"></i></button>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
          <td mat-cell *matCellDef="let element; let i = index;">
              <button mat-raised-button color="warn" (click)="deleteBook(element._id, element)"><i class="fas fa-trash"></i></button>
          </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
