/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content{
  margin-left: 20px;
  margin-right: 20px;
}

.custom-cardwidth{
  width: 75%;
}

.mb-5{
  margin-bottom: 5px;
}
