<div class="content">
  <mat-card>Publishers</mat-card>

  <button mat-raised-button color="primary" class="mt-20" (click)="redirectToAddPublisher()">Add Publisher</button>

  <mat-form-field fxLayout="row wrap" fxLayoutAlign="flex-end">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- First Name Column -->
        <ng-container matColumnDef="publisherName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher name </th>
          <td mat-cell *matCellDef="let row"> {{row.publisherName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
          <td mat-cell *matCellDef="let row"> {{row.location}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-raised-button color="primary" class="push-right"
                  [routerLink]="['/editPublisher/', element._id]">Edit</button>
                <button mat-raised-button color="warn" class="ml-10" (click)="deletePublisher(element._id, element)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
