<mat-toolbar class="nav-toolbar" color="primary">
  <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-button (click)="drawer.toggle()" color="primary">
          <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/members'>Members</a>
        <a mat-list-item routerLink='/books'>Books</a>
        <a mat-list-item routerLink='/authors'>Authors</a>
        <a mat-list-item routerLink='/publishers'>Publishers</a>
        <a mat-list-item routerLink='/genres'>Genres</a>
        <a mat-list-item routerLink='/loanedBooks'>Loaned Books</a>
        <a mat-list-item routerLink='/reservations'>Reservations</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

