.imgView{
  height:346px;
  width:230px;
}

.mt-25{
  margin-top:25px;
}

table {
  width: 100%;
}

.editBookBtn{
  width:100%;
}

.titleStyle{
  font-weight:bold;
  font-size: 1.15em;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

