<mat-card>Member Details</mat-card>
<div class="mt-25" gdAreas=" content | footer" gdGap="35px" gdRows="auto" gdColumns="230px">
  <div gdArea="content">
    <p *ngIf="currentMember?.firstName && currentMember?.lastName">Full Name: {{currentMember?.firstName}} {{currentMember?.lastName}}</p>
    <!--<p *ngIf="currentMember?.dob">Date of birth: {{currentMember?.dob}}</p>-->
    <p *ngIf="currentMember?.address">Address: {{currentMember?.address}}</p>
    <p *ngIf="currentMember?.postalCode">Postal Code: {{currentMember?.postalCode}}</p>
    <p *ngIf="currentMember?.telephone">Telephone: {{currentMember?.telephone}}</p>
    <p *ngIf="currentMember?.email">Email: {{currentMember?.email}}</p>
  </div>
</div>
