<div class="content">
    <mat-card>Member Details</mat-card>
    <div class="mt-25" gdAreas=" content | footer" gdGap="35px" gdRows="auto" gdColumns="auto">
      <div gdArea="content">
        <mat-card>
            <p *ngIf="currentMember?.firstName && currentMember?.lastName"><b>Full Name: </b>{{currentMember?.firstName}} {{currentMember?.lastName}}</p>
            <p *ngIf="currentMember?.address"><b>Address: </b>{{currentMember?.address}}</p>
            <p *ngIf="currentMember?.postalCode"><b>Postal Code: </b>{{currentMember?.postalCode}}</p>
            <p *ngIf="currentMember?.telephone"><b>Telephone: </b>{{currentMember?.telephone}}</p>
            <p *ngIf="currentMember?.email"><b>Email: </b>{{currentMember?.email}}</p>
            <button *ngIf="currentMember?._id" mat-raised-button color="primary" [routerLink]="['/editMember/', currentMember?._id]">Edit member</button>
        </mat-card>
      </div>
      <div gdArea="footer">
        <div class="loans-section">
          <mat-card>Loans</mat-card>
          <div class="mat-elevation-z8">
              <table mat-table class="mt-25" [dataSource]="dataSource" matSort>

                <!-- Copy Id Column -->
                <ng-container matColumnDef="copyId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Copy Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.copyId.copyName}} </td>
                </ng-container>

                <!-- Date issued Column -->
                <ng-container matColumnDef="dateIssued">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date issued </th>
                  <td mat-cell *matCellDef="let row"> {{row.dateIssued.substring(0,10)}} </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.dueDate.substring(0,10)}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let row"> {{getStatus(row.dueDate)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <div class="reservations-section mt-25">
          <mat-card>Reservations</mat-card>
          <div class="mat-elevation-z8">
            <table mat-table class="mt-25" [dataSource]="dataSourceReservations" matSort>

              <!--Reservation Copy Name column-->
              <ng-container matColumnDef="copyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Copy Name </th>
                <td mat-cell *matCellDef="let row"> {{row.copyId.copyName}} </td>
              </ng-container>

              <!--Reservation Date Requested column-->
              <ng-container matColumnDef="dateRequested">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Requester</th>
                <td mat-cell *matCellDef="let row">{{row.dateRequested.substring(0,10)}}</td>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsReservations"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsReservations;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
</div>
